<md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >

    <md-grid-tile ng-repeat="product in step4.products" md-whiteframe="4"
                  md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1">
        <md-grid-tile-footer>
            <h3>{{product.name}}</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

</md-grid-list>
