
<div layout="column">
    <div layout="row">
        <div class="fvntDnd" flex="50" ng-repeat="list in step2.lists">
            <h1>{{list.title}}</h1>
            <ul dnd-list="list.funcs">
                <li ng-repeat="func in list.funcs"
                    dnd-draggable="func"
                    dnd-moved="list.funcs.splice($index, 1)">
                    <dnd-nodrag>
                        <md-chips>
                            <md-chip>{{func.name}}</md-chip>
                        </md-chips>
                    </dnd-nodrag>
                </li>
                <li class="dndPlaceholder">

                </li>
            </ul>
        </div>
    </div>
</div>