<md-stepper id="dashboard-stepper"
            md-vertical="stepperCtrl.isVertical()"
            md-linear="true">
    <md-step ng-repeat="step in stepperCtrl.steps" md-label="{{step.title}}">
        <md-step-body>
            <div fvnt-directive="{{step.templateName}}"></div>
        </md-step-body>
        <md-step-actions>
            <md-button class="md-primary md-raised" ng-click="stepperCtrl.next();">{{stepperCtrl.lastOne() ? 'Finish' : 'Continue'}}</md-button>
            <md-button class="md-primary" ng-click="stepperCtrl.back();" ng-hide="stepperCtrl.lastOne()">Cancel</md-button>
        </md-step-actions>
    </md-step>
</md-stepper>