<div layout="column" layout-align="center center" flex class="login-background">
    <md-conten layout="column" layout-align="center center">
    <h1>FEVNT</h1>


    <h3>Bienvenido a FEVNT</h3>
    <p>Programa, gestiona y obten analíticas a tiempo real de tus eventos. </p>
    <p>Entra y descubre como funciona.</p>
    </md-conten>



    <md-conten layout="column" class="login login-content" layout-padding md-whiteframe="3">

        <md-input-container class="md-block">
            <input type="text" placeholder="Username" ng-model="loginCtrl.payload.email" required="">
        </md-input-container>

        <md-input-container class="md-block">
            <input type="password" placeholder="Password" ng-model="loginCtrl.payload.pass" required="">
        </md-input-container>


        <md-button class="md-raised md-primary" ng-click="loginCtrl.login()">Login</md-button>

        <md-button class="md-accent" ui-sref="register">Create una cuenta</md-button>

    </md-conten>

    <p class="text-xs-right font-weight-bold text-muted font-italic m-b-0">Powered by <a href="http://floatid.com"target="_blank" class="floatid-login"><img ng-src="./{{loginCtrl.img}}" /></a></p>


</div>

