<md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
        <md-button hide-gt-md class="md-icon-button" aria-label="Menu" ng-click="headerCtrl.toggleSideNav()">
            <md-icon class="material-icons" md-font-set="material-icon">menu</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Favorite" ui-sref="dashboard">
            <md-icon class="material-icons" md-font-set="material-icon">home</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon class="material-icons" md-font-set="material-icon">power_settings_new</md-icon>
        </md-button>
    </div>
</md-toolbar>