
<div layout="row">
    <div layout-padding flex>
        <div layout="row">
            <md-input-container class="md-icon-float md-block" flex>
                <input ng-model="step1.form.eventTitle" type="text" placeholder="Titulo del evento">
            </md-input-container>
            <md-input-container class="md-icon-float md-block" >
                <!-- Use floating label instead of placeholder -->
                <label>Enter date</label>
                <md-datepicker ng-model="step1.form.submissionDate"></md-datepicker>
            </md-input-container>

        </div>
        <div layout="column">
            <md-input-container class="md-icon-float md-icon-right md-block">
                <label>Asistentes</label>

                <input ng-model="step1.form.assistants" type="number" step="1">
            </md-input-container>

            <md-input-container class="md-icon-float md-icon-right md-block">
                <label>Lugar del evento</label>
                <input ng-model="step1.form.address" type="text">
                <md-icon class="material-icons">place</md-icon>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Categoria</label>
                <md-select ng-model="step1.form.category">
                    <md-option ng-repeat="category in step1.categories" value="{{category.id}}">
                        {{category.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <div flex>
        <div layout="column" layout-fill>
            <div layout="row" map-lazy-load="https://maps.google.com/maps/api/js" flex>
                <ng-map default-style="false" center="current-position" map-initialized="step1.mapInit()" flex></ng-map>
            </div>
        </div>
    </div>
</div>
