
<div layout="row">
    <div layout-padding flex>
        <div layout="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Title</label>
                <md-select ng-model="step5.paymentForm.title">
                    <md-option ng-repeat="title in step5.titles" value="{{title}}">
                        {{title}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-icon-float md-block" flex>
                <label>Full name</label>
                <input ng-model="step5.paymentForm.fullName" type="text">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container class="md-icon-float md-icon-right md-block" flex>
                <label>Card Number</label>
                <input ng-model="step5.paymentForm.cardno" type="number">
            </md-input-container>
            <md-input-container class="md-icon-float md-block" >
                <!-- Use floating label instead of placeholder -->
                <label>Expire Date</label>
                <md-datepicker ng-model="step5.paymentForm.expireDate"></md-datepicker>
            </md-input-container>
        </div>
    </div>
    <div flex>
        <div layout="column" layout-fill>
            <div layout="row" flex>
                image payment
            </div>
        </div>
    </div>
</div>
