//Principal Brand Color
$primary-color: #259b24;
$primary-color-contrast: #0072c9;
$primary-color-inactive: #ababab;

//Secondary Brand Color
$secondary-color: #72d572;
$secondary-color-inactive: #4ab6e5;

//Elements and icons
$items:#003f8d;
$items-inactive:#ababab;

//Dark Gray Backgrounds
$background-gray:#404040;
$background-gray-darker: darken($background-gray, 60);
$background-gray-lighter: lighten($background-gray, 60);
$background-gray-Morelighter: lighten($background-gray, 68);

//General Colors
$white: white;
$secondary-white: #f9f9f9;
$black: black;
$gray: gray;
$red: red;

//Specif colors
$header-image-background:#DEE9F6;

//Alert Colors
$green-good: #4caf50;
$red-warning: #f44336;
