.logo-name{
  margin-left:-100px;
}

.logo {
  background-img: url("../img/floatid.png");
}

.fvnt-sidenav{
  padding-left: 0px!important;
}

.fevent-background{
}
.floatid-login {
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  width:80px;
  img {
    width:100%;
    height:auto;
  }
}

