.login-content{
  background-color: white;
  min-width: 20%;
}

.login-background{
  background-color:#8e7e5f;
  height:100%;
  background-image: url("http://fevent.floatid.com/wp-content/uploads/2017/02/y-3.jpg");
  background-size: cover;
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}