<div layout="column" fvnt-side-nav=""></div>
<div layout="column" flex>
    <div fvnt-header=""></div>

    <div ui-view flex>
        <md-button ui-sref="dashboard.stepper">FEVNT is waiting for you...</md-button>
    </div>

</div>




