<div layout="column" layout-fill>
    <div layout="row" flex>
        <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="4">

            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools" ui-sref="dashboard">Dashboard</h1>
            </md-toolbar>
            <md-content>
                <md-button ng-click="sideNavCtrl.toggle()" class="md-primary" hide-gt-md>
                    Close
                </md-button>
                <p hide show-gt-md>
                    Hide when hide-gt-md
                </p>
                <md-list flex>
                    <md-list-item ui-sref="dashboard.stepper">
                        Steppers
                    </md-list-item>
                    <md-list-item ui-sref="login">
                        Log out
                    </md-list-item>
                </md-list>
            </md-content>

        </md-sidenav>
    </div>
</div>