<!--<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Register</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">-->

<div layout="column" layout-align="center center">

    <h3>Register to Fvent</h3>
    <p>Create account to see it in action.</p>

    <md-input-container>
        <input type="text" placeholder="Name" ng-model="registerCtrl.user.username" required="" />
    </md-input-container>

    <md-input-container>
        <input type="text" placeholder="Email" ng-model="registerCtrl.user.email" required="" />
    </md-input-container>
    <md-input-container>
        <input type="password" placeholder="Password" ng-model="registerCtrl.user.pass" required="" />
    </md-input-container>

    <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>

    <md-input-container>
        <md-button class="md-raised md-primary" ng-click="registerCtrl.signup()">Register</md-button>
    </md-input-container>
    <p class="text-muted text-center"><small>Already have an account?</small></p>
    <md-button class="md-primary" ui-sref="login">Login</md-button>

</div>

<!--


<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
&lt;!&ndash; iCheck &ndash;&gt;
<script src="js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>
</body>

</html>-->
